<!--@subject IncentivizeAnything custom email module @-->

<div>
    <h1>{{var storeName}}</h1>
    <p>Dear {{var firstName}} {{var lastName}},
        <br/><br/>
        You have been selected by a representative of {{var storeName}} to receive
        one or more coupons. Below are the coupon codes:<br/><br/>
        <b>{{var couponCodes}}</b><br/><br/>
        We want to thank you for being part of the {{var storeName}} family. Happy shopping!<br/><br/>
        Sincerely,<br>
        <i>Everyone at the {{var storeName}} team</i>
    </p>
</div>